/* CSS RESET */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(249, 239, 228); 
 }
 

/* NAVIGATION BAR */

#navbar {
    position: relative;
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

/*Navigation Bar: Logo and Images */
#logo {
    margin: 0px 10px;
}

#logo img {
    height: 70px;
    margin: 6px 10px;
}

/* Navigation Bar:List styling */
#navbar ul {
    display: flex;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}


#navbar ul li {
    list-style: none;
    font-size: 1.25rem;
}

#navbar ul li a {
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}



#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#navbar ul li a.active {
    color: black;
    background-color: rgb(253, 243, 229);
}
#navbar ul li input{
    margin-left:130px;
    padding: 7px 10px;
    border-radius: 7px;
    width: 350px;
}
.logout{
    margin-left:80px;
}

#main{
    margin-top:100px;
    margin-left:260px;
    min-height: 300px;
    width:900px;
    border: 2px solid grey;
    border-radius: 8px;
}
#heading{
    /* font-style: italic; */
    font-size: 60px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    text-align: center;
}
#value1{
    display:flex;
    flex-direction: row;
    /* display: grid; */
    grid-template-columns:1fr 1fr  ;
    grid-template-rows:75px 75px 75px 75px;
    font-size:38px;
}
#name{
    margin-left:10px
}
/* #rate{
    margin-left:310px;
} */